<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Equipment Rental Website</title>
</head>
<body>
    <h1>Welcome to Medical Equipment Rental Website!</h1>
    <h2>Please Choose either you're a client or Manager!</h2>
    <button onclick="location.href='/client_login'">Client Login</button>
    <button onclick="location.href='/manager_login'">Manager Login</button>
</body>
</html>
